.marquee-container {
  overflow: hidden;
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .marquee {
    display: flex;
    width: max-content;
    animation: scroll 25s linear infinite;
    animation-direction: normal;
    height: 100%;
    align-items: center;

    img,
    .marquee-message {
      height: 100%;
      margin: 0 20px;
      filter: drop-shadow(1px 1px 1px #e0b0b0);
      color: white;
    }
  }

  &.reverse {
    .marquee {
      display: flex;
      width: max-content;
      animation: scroll 10s linear infinite;
      animation-direction: reverse;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(-120%);
  }
}
