.marquee-container {
  overflow: hidden;
  background-color: #f9f3f1;
  border-top: 3px solid #f4c2c2;
  border-bottom: 3px solid #f4c2c2;
  margin: 1rem 0;
  padding: 1rem 0;
}

.marquee {
  display: flex;
  width: max-content;
  animation: scroll 5s linear infinite;
  animation-direction: normal;

  .reverse {
    animation-direction: reverse;
  }
}

.marquee img {
  height: 60px;
  margin: 0 20px;
  filter: drop-shadow(1px 1px 1px #e0b0b0);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
