.content {
  width: 100%;
  height: 100%;
  display: flex;

  .diagnosis-area {
    width: 100%;
    height: 100%;
    display: flex;

    &.show {
      width: 100%;
    }

    &.hide {
      width: 0%;
    }

    .left-info-area {
      width: 300px;
      height: 100%;
      background-color: #240107;
      transition: width 0.3s ease-out;
  
      &.hide-info-area {
        width: 0;
      }
  
      .dates-reference-area {
        width: 300px;
      }
    }
  
    .right-exams-area {
      width: 100%;
      height: 100%;
      background-color: #01240d;
  
      &.hide-info-area {
        width: 100%;
      }
    }
  }
  
  .follow-up-area {
    width: 0;
    height: 100%;
    display: flex;
    background-color: #14022a;

    &.show {
      width: 100%;
    }

    &.hide {
      width: 0%;
    }
  }
}